# snippet trycatch
snippet trycatch "try catch snippet" b
try{

}($1){

}
endsnippet

# snippet t
snippet t "Description" b
<${1}>
	${2}
</${1}>
endsnippet

# snipet imp
snippet imp "import snippet" b
import ${2} from '${1}';
endsnippet

